# Infrastructure configuration

# Kafka (For Local we use Redpanda on 9092. Update for Upstash Cloud)
KAFKA_BROKERS=localhost:9092
KAFKA_USERNAME=
KAFKA_PASSWORD=
KAFKA_TOPIC=user-events

# Database (For Local we use Postgres 5432. Update for Neon.tech)
DB_HOST=localhost
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=analytics

# Go API Configuration
PORT=8080
GIN_MODE=debug
